/*===========
 GF WIDGETS
============*/
/*GF IMAGE BANNER*/
.gf-image-banner-widget-form label{
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    padding-bottom: 7px;
}
.gf-image-banner-widget-form input{
    margin-top: 10px;
}
.gf-image-banner-block{
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
}
.gf-image-preview-wrapper img {
    width: 100%;
}
/*GF PRODUCT SLIDER*/
.gf-product-slider-wrapper input{
    margin-bottom: 12px;
}
.gf-category-select{
    margin-bottom: 12px;
}

/*GF SOCIAL ICONS*/
.social-icons-widget-admin-input{
    margin-bottom: 14px ;
}
.input-wrapper{
    margin-top: 20px;
}

/*=============
GF SORTABLE CATEGORIES
===============*/
.filter-fields-list .parent-cat {
    max-width: 30%;
    margin-bottom: 20px;
}
.parent-header, .child-header, .childs-of-child-header {
    background-color: #1C2336!important;
    color: white!important;
}
.filter-fields-list{
    text-align: center;
}
.filter-fields-list .child-cat,h5{
    margin: 10px 40px;
}
.gf-sortable-categories-wrapper h2:hover,h3:hover,h4:hover,h5:hover {
    cursor: pointer;
}
.parent-cat-children, .child-cat-children{
    background-color: #E7E7E7;
    border: 2px solid #FE7725 !important;
}
.ui-state-active , .childs-of-child-header{
    background-color: #FE7725!important;
    border: none!important;
}
.ui-icon {
    float: right;
}

/*ORDERS*/

.post-type-shop_order .wp-list-table .column-order_status {
    width: 10ch !important;
}

.order-status{
    font-weight: bold !important;
}
.order-status.status-cekaseuplata,
.order-status.status-finalizovano{
    background-color: #5b841b !important;
    color: #fff !important;
}

.order-status.status-u-pripremi,
.order-status.status-u-pripremiplaceno{
    background-color: yellow !important;
    color: #000 !important;
}

.order-status.status-naruceno,
.order-status.status-spz-pakovanje,
.order-status.status-spz-slanje{
    background-color: #80B0FF !important;
    color: #fff !important;
}

.order-status.status-poslato{
    background-color: #FFA3A3   !important;
    color: #fff !important;
}

.order-status.status-isporuceno{
    background-color: #005CF3 !important;
    color: #fff !important;
}

.order-status.status-spz-slanje{
    background-color: #cc00ff !important;
    color: #fff !important;
}

.order-status.status-isporuceno{
    background-color: #6600cc !important;
    color: #fff !important;
}

.order-status.status-reklamacija,
.order-status.status-reklamacija-pnns,
.order-status.status-stornirano,
.order-status.status-stornirano-pn,
.order-status.status-vracena-posiljka{
    background-color: #D50000 !important;
    color: #fff !important;
}

.gf-admin-phone-order .checkbox{
    margin-top: 20px;
    font-size: 18px;
}

.required:before {
    content:"*";
    color:red;
    font-size: 24px;
    display: block;
    text-align: right;
}
.required-price:after{
    content:" *";
    color:red;
    font-size: 24px;
}
.gf-backorders-filters p{
    float: none;
}


.external-item-banners-widget-Form input, .external-item-banners-widget-Form textarea{
    display: block;
}

.externalItemBannersWidget-table td{
    vertical-align: middle;
}
