.gf-category-accordion {
  display: block;
  height: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 1000;
  background: #fff;
  width: 73%;
  box-shadow: 3px 0 13px #1d1d1d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gf-category-accordion__item {
  margin: 0;
  padding: 0;
}

.gf-category-accordion__item--main {
  display: block;
  font-weight: 600;
  background: #fff;
  padding: 10px 0;
  border-bottom: solid 1px #aaa;
}

.gf-category-accordion__item--last {
  font-weight: 500;
}

.openMoreCategories {
  float: right;
  cursor: pointer;
}

.mobileMenuShow {
  width: 95%;
  height: unset;
  font-size: 0.8rem;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #eee;
}